@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


@theme inline {
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}